@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #606C38, #283618);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #212d14;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #BC6C25;
    text-align: center;
    text-shadow: 1px 1px 2px #9f5b2194;
}

h2{
    color: #DDA15E;
}

p{
    text-align: justify;
}